<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="watsons.wine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<permission android:name="watsons.wine.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="watsons.wine.permission.C2D_MESSAGE" />
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM connects to Google Services. -->
	<uses-permission android:name="android.permission.INTERNET" /> 
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
    <application
        android:icon="@drawable/watsons_wine_icon"
        android:label="@string/app_name"
        android:theme="@style/notitlebar"
        >
        <uses-library android:name="com.google.android.maps"/>
        <activity
            android:name=".WatsonsWineActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="watsons.wine" />
		  </intent-filter>
		</receiver>
		<service android:name="watsons.wine.GCMIntentService" />
        <activity android:name="watsons.wine.TabGroupView" />
        <activity android:name="watsons.wine.TabGroupWine" />
        <activity android:name="watsons.wine.TabGroupCellar" />
        <activity android:name="watsons.wine.TabGroupFood" />
        <activity android:name="watsons.wine.TabGroupEvents" />
        <activity android:name="watsons.wine.TabGroupLocation" />
        <activity android:name="watsons.wine.WineListTab" />
        <activity android:name="watsons.wine.CellarTab" />
        <activity android:name="watsons.wine.FoodTab" />
        <activity android:name="watsons.wine.FoodCuisineList"/>
        <activity android:name="watsons.wine.FoodDishList"/>
        <activity android:name="watsons.wine.FoodDishWeb"/>
        <activity android:name="watsons.wine.EventsTab" />
        <activity android:name="watsons.wine.EventsWebView" />
        <activity android:name="watsons.wine.LocationTab" />
        <activity android:name="watsons.wine.LocationList" />
        <activity android:name="watsons.wine.CalendarActivity" />
        <activity android:name="watsons.wine.WineListProduct" />
        <activity android:name="watsons.wine.WineProductWeb" />
        <activity android:name="watsons.wine.LocationWebView" />
        
        
        <activity 
            android:name="watsons.wine.notification.NotificationMainActivity" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="watsons.wine.notification.NotificationDetailActivity" 
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="watsons.wine.mycellars.MyCellarsMainActivity" 
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="watsons.wine.mycellars.MyCellarsListIemsActivity" 
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="watsons.wine.mycellars.MyCellarsWineDetail" 
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="watsons.wine.mycellars.MyCellarsSelectionWheel" 
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="watsons.wine.mycellars.MyCellarsUpdateItemsActivity" 
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="watsons.wine.mycellars.MyCellarsSearchMain" 
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="watsons.wine.TabGroupNotification" />
    </application>
</manifest>
