<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="watsons.wine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/notitlebar"
        >
        <uses-library android:name="com.google.android.maps"/>
        <activity
            
            android:name=".WatsonsWineActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="watsons.wine.TabGroupView" />
        <activity android:name="watsons.wine.TabGroupWine" />
        <activity android:name="watsons.wine.TabGroupCellar" />
        <activity android:name="watsons.wine.TabGroupFood" />
        <activity android:name="watsons.wine.TabGroupEvents" />
        <activity android:name="watsons.wine.TabGroupLocation" />
        <activity android:name="watsons.wine.WineListTab" />
        <activity android:name="watsons.wine.CellarTab" />
        <activity android:name="watsons.wine.FoodTab" />
        <activity android:name="watsons.wine.EventsTab" />
        <activity android:name="watsons.wine.LocationTab" />
        <activity android:name="watsons.wine.CalendarActivity" />
        <activity android:name="watsons.wine.WineListProduct" />
        <activity android:name="watsons.wine.WineProductWeb" />
        <activity android:name="watsons.wine.LocationWebView" />
        
    </application>
</manifest>